.bg-dark {
   background-color: #1800FF!important;
}
   
.navbar {
   width: 100%;
}

.navbar-dark .navbar-nav  {
   color: #fff;
   font-weight: 700;
   text-align: center;
   padding: 22px;
   line-height: 2;
}

/* .nav-link.active {
   background-color: blueviolet;
   border-radius: 24px;
} */

/* .test {
   color: crimson!important;
} */